/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 mars 2022, 16:26:43
    Author     : sio1
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    position: relative;
    margin : 0;
    padding : 0;
}

/* HEADER */
header {
    display: flex;
    left: 0;
    right: 0;
    background-color:rgb(58, 82, 161);
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo{
    height: 35px;
}

.logo img {
    width: 120px;
    margin-left: 25px;
    color: #fff;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}

.nav {
    margin-right: 60px;
    margin-left: 700px;
    align-items: center;
}

.navLinks a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding-right: 15px;
}

.navLinks a:hover {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: rgb(0, 0, 0)
}

/* FIN HEADER */

/* PAGE ACCUEIL */
/* BANNIERE */
.banner {
    min-height: 90vh;
    background:  linear-gradient(rgb(0,0,0,0.4),transparent),url(../img/img/banner7.jpg);
    background-size: cover;
    background-position: center;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h2{
    font-size: 60px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.banner h3{
    margin-top: 20px;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

/* PRESENTATION AGENCE */
.titreAgence{
    text-align: center;
    text-decoration: underline rgb(58, 82, 161) ;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}

.presentation{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-around;
}

.presentation img{
    border: 5px solid rgb(58, 82, 161);
    width: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.pres_agence{
    padding: 30px;
    width:1000px ;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
}

h1, p, a {
    font-family: 'Open Sans', sans-serif;
}

/* PRESENTATION ANNONCE */
h2.titreAnnonce {
    text-decoration: underline rgb(58, 82, 161) ;
    font-size: 35px;
    padding: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.titleAnnonce {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 80px;
}

.annonce img{
    border-radius: 30px;
    width: 300px;
    height: 250px;
    object-fit : cover;
    box-shadow: 2px 2px 5px 1px grey;
}
/* FIN PAGE ACCUEIL */

/* RECHERCHE BIEN PAR TYPE ET VILLE */
input[type=ville], select  {
    resize: none;
    width : 40%;
    height : 30px;
}

#titreForm, label, select, input[type=submit] {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

form {
    width : 95%;
    margin : auto;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
}

input#descrip {
    width : 300px;
    height : 150px;
}

select.ref {
    width : 30px;
}
/* FIN RECHERCHE BIEN PAR TYPE ET VILLE */

/* AFFICHAGE VISU: REF-VILLE-TYPE-PRIX */
table,th, td {
    border-collapse: separate;
    border-spacing: 0 15px;
    font-family: 'Open Sans', sans-serif;
}

table {
    width: 95%;
    margin-left:auto;
    margin-right:auto;
    margin-top: -590px;
    position: relative;
    margin-bottom: 30px;
}
th {
    background-color: rgb(58, 82, 161);
    color: white;
    padding: 8px;
}

tr {
    margin:10px;
    text-align: center;
}


tbody td:nth-child(2) {
    text-align: justify;
    padding:10px;
    padding-right:20px;
    padding-left: 20px;
}

tbody tr:nth-child(even) {
    background-color:#EEEEEE;
}

h1.titreBien {
    text-align: center;
}

h1.visuBien, p.visuBien {
    padding-left : 20px;
    padding-right: 20px;
}
/* FIN AFFICHAGE VISU */


/* FOOTER */
footer{
    background: rgb(248,249,250);
    display: flex;
    justify-content: center;
    padding: 10px 0 20px;
    font-size: 17px;
}

.menuFooter a{
    text-decoration: none;
    color: black;
    display: inline;
}

.contactInfo{
    color: black;
    padding-right: 55px;
}

.contactInfo p{
    font-weight: bold;
    font-size: 15px;
}

.menuFooter  {
    color: black;
    padding-left: 55px;
    display: inline;
}

.menuFooter a {
    font-weight: bold;
    font-size: 15px;
}
/* FIN FOOTER */